# Окружение: development | production
APP_ENV=development

# PostgreSQL (опционально для development)
# PG_CONNECTION=postgresql://user:password@localhost:5432/domesticator


# Прокси (опционально, через запятую)
# PROXY_LIST=http://user:pass@proxy1:8080,socks5://user:pass@proxy2:1080
